 <!DOCTYPE html>
 <html>
 
 <head>
   <meta charset="utf-8" />
   <title>Book Recommender System</title>
   <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
   <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
   <meta name="msapplication-TileColor" content="#ffffff" />
   <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png" />
   <meta name="theme-color" content="#ffffff" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet" />
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
     integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css" rel="stylesheet" />
   <style>
   .col-sm-2{
     margin:10px ;
   }
   </style>
 </head>
 
 <body>
 
 
     <nav class="navbar navbar-expand-lg navbar-dark cyan darken-3 fixed-top my-6">
       <a class="navbar-brand" href="#"><img src="images/book.png" height="36" width="36"/> Book Recommender</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
 
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Recommendation</a>
           </li>
 
           <li class="nav-item">
             <a class="nav-link" href="#about">About Us</a>
           </li>
         </ul>
         <div>
           <a onclick="" class="btn btn-social-icon btn-sm btn-github"><i class="fa fa-github"></i></a>
           <a onclick="" class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook"></i></a>
           <a onclick="" class="btn btn-social-icon btn-sm btn-twitter"><i class="fa fa-twitter"></i></a>
           <a onclick="" class="btn btn-social-icon btn-sm btn-instagram"><i class="fa fa-instagram"></i></a>
         </div>
       </div>
     </nav>
     <div class="container-fluid"  style="margin-top: 100px;margin-bottom: 100px;">
      <div class="row">
        {% for i in range(book_name|length) %}
        <div class="col-sm-2">
          <div class="card">
            <div class="card-block">
               <!-- <img src="{{ image[i] }}" class="card-img-top img-responsive" alt="..." width="" height="200"> -->
               <img src="{{ image[i] }}" class="card-img-top img-responsive" onerror="this.src='https://via.placeholder.com/200'; this.onerror=null;" alt="..." width="" height="200">
              <div class="card-body">
                <h6 class="card-title">{{ book_name[i] }}</h6>
              </div>
              <div class="card-footer">
                <div class="float-left">
                  <small class="text-truncate"><img src="images/author.jpg" onerror="this.src='https://via.placeholder.com/20'; this.onerror=null;" width="20"> {{ author[i] }}</small>
                </div>
                <div class="float-right">
                     <ul class="list-inline">
                        <li class="list-inline-item">
                          <small> <i class="fas fa-star text-warning"></i> {{ (ratings[i])|round(1, 'floor') }}/10 ({{ votes[i] }}) </small>
                        </li>
                     </ul>
                </div>
                
              </div>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
     </div>
   

   <!-- Footer -->
   <footer class="page-footer font-small cyan darken-3">
     <!-- Footer Elements -->
     <div class="container"></div>
     <!-- Footer Elements -->
 
     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">
       © 2022 developed by
       <a href="#">
         <svg aria-hidden="true" focusable="false" data-prefix="fa6s" data-icon="swatchbook" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fa-fw size-4xl svg-inline--fa fa-swatchbook fa-w-16"><path fill="#d86a77" d="M472.384 270.112L279.52 470.176a32 32 0 01-45.44.832l-.864-.832L40.352 270.112A144 144 0 0144.416 66.08a81.512 81.512 0 013.008-2.784 138.784 138.784 0 01188.064 13.12l19.936 18.944L275.2 74.816a138.816 138.816 0 01188.064-11.52 143.712 143.712 0 0112.288 203.232c-.928 1.216-1.952 2.272-3.168 3.584z" class=""></path></svg>  
         mr.vijaychauhan
       </a>
     </div>
     <!-- Copyright -->
   </footer>
   <!-- Footer -->
 </body>
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
   integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
   integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
   integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

 
 </html>